<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078867846949-f6katf1k89ltp8j8p8dhoe9tka2tdlji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078867846949-f6katf1k89ltp8j8p8dhoe9tka2tdlji</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1078867846949-arr80shdvaqas99t37agd1nk64bksk0u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkvLuruYxikiiEZYdseLJJyg7exSsEcHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1078867846949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arrantsolutions.pcl</string>
	<key>PROJECT_ID</key>
	<string>pastor-choolwe-library-00</string>
	<key>STORAGE_BUCKET</key>
	<string>pastor-choolwe-library-00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078867846949:ios:dac74e04b7447e5ea8dccc</string>
</dict>
</plist>