<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.arrantsolutions.pcl">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

<!--    <uses-sdk-->
<!--        android:minSdkVersion="16"-->
<!--        android:targetSdkVersion="22" />-->

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:exported="true"
      android:theme="@style/SplashTheme">
      <!-- FACEBOOK SDK deps -->
      <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
      <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
    
<!--      <activity-->
<!--          android:name=".SplashActivity"-->
<!--          android:theme="@style/SplashTheme"-->
<!--          android:label="@string/app_name">-->
<!--          <intent-filter>-->
<!--              <action android:name="android.intent.action.MAIN" />-->
<!--              <category android:name="android.intent.category.LAUNCHER" />-->
<!--          </intent-filter>-->
<!--      </activity>-->


      <provider android:authorities="com.facebook.app.FacebookContentProvider228193272492743"
                android:name="com.facebook.FacebookContentProvider"
                android:exported="true" />

      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity>
    </application>
</manifest>
